SUBSYSTEM=="usb", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="0486", MODE="0666", PROGRAM="/bin/bash -c 'echo -n $id:1.0 > /sys/bus/usb/drivers/usbhid/unbind; echo -n $id:1.1 > /sys/bus/usb/drivers/usbhid/unbind'"
SUBSYSTEM=="usb", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="0486", MODE="0666", PROGRAM="/bin/bash -c 'echo -n $id:1.0 > /sys/bus/usb/drivers/recognize_teensy/bind'"
